
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- SITE PAGE TITLE -->
        <title>Frontend Mentor | Manage landing page</title>
        <!-- SITE PAGE DESCRIPTION -->
        <meta name="description" content="Bring everyone together to build better products.">
        <!-- SITE AUTHORS -->
        <meta name="author" content="Aman Singh Bhogal & Frontend Mentor">
        <!-- FAVICON -->
        <link rel="shortcut icon" href="src/img/favicon-32x32.png" type="image/x-icon" sizes="32x32">
        <!-- TAILWIND ASSETS (FOR CLIENT DEPLOYMENT) -->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- SWIPER JS STYLESHEET -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
        <!-- MAIN STYLESHEET -->
        <link rel="stylesheet" href="/static/css/output.css">
        <!-- SWIPER JS SCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js" defer></script>
        <!-- EMAIL VALIDATION SCRIPT -->
        <script src="/static/js/email-validation.js" defer></script>
        <!-- MOBILE NAV MENU SCRIPT -->
        <script src="/static/js/mobile-nav-menu.js" defer></script>
        <!-- TESTIMONIAL SLIDER SCRIPT -->
        <script src="/static/js/testimonial-slider.js" defer></script>
        <!-- TEMPORARILY USING GOOGLE FONTS FROM SERVER -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap" rel="stylesheet">
    </head>
    <body class="font-BeVietnamPro">
        <section class="bg-zinc-50 overflow-visible"> <!-- Change overflow-hidden to overflow-visible -->
            <div class="max-w-screen-xl 2xl:max-w-screen-3xl px-8 md:px-12 mx-auto py-12 lg:py-12 space-y-24 flex flex-col justify-center">
                <div class="flex flex-col sm:flex-row mx-auto">
                    <a href="#_">
                        <img src="https://images.unsplash.com/photo-1530035415911-95194de4ebcc?q=80&amp;w=2670&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="z-90 rounded-xl rotate-6 hover:rotate-0 duration-500 hover:-translate-y-12 h-full w-40 md:w-full object-cover hover:scale-150 transform origin-bottom" alt="#_">
                    </a>
                    <a href="#_">
                        <img src="https://images.unsplash.com/photo-1487180144351-b8472da7d491?q=80&amp;w=2672&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded-xl -rotate-12 hover:rotate-0 duration-500 hover:-translate-y-12 h-full w-full object-cover hover:scale-150 transform origin-bottom" alt="#_">
                    </a>
                    <a href="#_">
                        <img src="https://images.unsplash.com/photo-1586996292898-71f4036c4e07?q=80&amp;w=2670&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded-xl rotate-6 hover:rotate-0 duration-500 hover:-translate-y-12 h-full w-full object-cover hover:scale-150 transform origin-bottom" alt="#_">
                    </a>
                    <a href="#_">
                        <img src="https://images.unsplash.com/photo-1522775417749-29284fb89f43?q=80&amp;w=2574&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded-xl -rotate-12 hover:rotate-0 duration-500 hover:-translate-y-12 h-full w-full object-cover hover:scale-150 transform origin-bottom" alt="#_">
                    </a>
                </div>
            </div>
        </section>
</body>
</html>
